$vertical-menu-big-padding: 15px;
$horizontal-menu-big-padding: 20px;
$horizontal-menu-small-padding: 10px;
$horizontal-menu-border: 1px solid #eee;
$horizontal-menu-active-border-color: #eee;

.horizontal-menu {
	$root: &;
	background-color: $front-h-menu-bg;

	@include media-breakpoint-down(md) {
		display: none;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		//justify-content: space-around;
		justify-content: flex-start;
		margin-bottom: 0;
	}

	&__root-element {
		border-right: 1px solid $front-h-menu-border;
		position: relative;

		&:first-child {
			border-left: 1px solid $front-h-menu-border;

			&.active {
				border-left-color: $horizontal-menu-active-border-color;
			}
		}

		&:hover {
			background-color: $front-h-menu-child-bg;
			border-right-color: $horizontal-menu-active-border-color;

			.is-link {
				color: $front-h-menu-color;
			}
		}

		&.active {
			background-color: $front-h-menu-child-bg;
			border-right-color: $horizontal-menu-active-border-color;
			color: $front-h-menu-color;

			&.open {
				color: $theme-contrast-color;
			}
		}
	}

	&__element {
		align-items: center;
		display: flex;
		padding: $vertical-menu-big-padding $horizontal-menu-big-padding;

		&.is-link {
			color: $theme-contrast-color;
			text-decoration: none;

			&.active {
				color: $front-h-menu-color;
			}
		}

		&.is-child {
			color: $front-h-menu-color;
			padding: 15px 14px 15px 25px;
			// white-space: nowrap;
			transition: all ease-in-out 0.5s;

			&.is-link:hover {
				background-color: darken($front-h-menu-child-bg, 5%);
				// text-decoration: underline;
			}
		}

		&.is-root {
			font-size: 1rem;
			font-weight: $front-h-menu-link-weight;

			.title {
				line-height: 24px;
			}
		}

		&.active {
			color: $theme-color;
		}

		.title {
			word-break: break-all;
		}
	}

	&__child-list {
		background-color: $front-h-menu-child-bg;
		left: 0;
		position: absolute;
		width: 260px;
		z-index: 10;

		&.animate__animated.animate__fadeInUp,
		&.animate__animated.animate__fadeOut {
			--animate-duration: 0.4s;
		}
	}

	&__child-element {
		border: $horizontal-menu-border;
		border-bottom-width: 0;

		&:last-child {
			border-bottom-width: 1px;
		}
	}

	&__text-title {
		word-break: break-all;
	}
}
