.hamburger-btn {
	width: 50px;
	height: 50px;
	background-color: $theme-color;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	padding: 9px 13px;
	position: relative;

	&:focus {
		outline: 0;
	}

	&__bar {
		background-color: $theme-contrast-color;
		border-radius: 0;
		display: block;
		height: 2px;
		width: 22px;
		position: relative;

		&.first-opened {
			animation: hamburger-btn-toggle-first 0.5s forwards;
			top: -2px;
			left: 2.5px;
			transform: rotate(45deg);
			transform-origin: left bottom;
		}

		&.middle-opened {
			visibility: hidden;
		}

		&.last-opened {

			animation: hamburger-btn-toggle-last 0.5s forwards;
			transform: rotate(-45deg);
			transform-origin: left top;
			left: 2.5px;
			top: 2px;
		}
	}

	&__bar + .hamburger-btn__bar {
		margin-top: 4px;
	}

	@keyframes hamburger-btn-toggle-first {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(45deg);
		}
	}

	@keyframes hamburger-btn-toggle-last {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(-45deg);
		}
	}
}
