.mars-top-nav {
	background: $front-mars-top-nav-bg;
	color: $front-mars-top-nav-txt-color;
	font-size: 0.95rem;

	&__container {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 50px;
	}

	&__contacts {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}

	&__contact {
		margin: 5px;
		display: flex;
		align-items: center;
	}

	&__contact-icon {
		color: $front-mars-top-nav-txt-color;
		margin: 0 5px 0 0;
		text-decoration: none;

		&:hover {
			color: $front-mars-top-nav-txt-color;
		}
	}

	&__contact-txt {
		color: $front-mars-top-nav-txt-color;
		text-decoration: none;
		position: relative;

		&:hover {
			color: $front-mars-top-nav-txt-color;

			&::before {
				left: 0;
				width: 100%;
			}
		}

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			border-radius: 4px;
			left: 50%;
			bottom: -6px;
			background: $front-mars-top-nav-txt-color;
			transition: all .35s ease-in-out;
		}
	}

	&__menu {
		margin: 0;
		display: flex;
	}

	&__menu-item {
		margin: 0 25px;
	}

	&__menu-link {
		color: $front-mars-top-nav-menu-color;
		text-decoration: none;
		position: relative;

		&:hover {
			color: $front-mars-top-nav-menu-color;

			&::before {
				left: 0;
				width: 100%;
			}
		}

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			border-radius: 4px;
			left: 50%;
			bottom: -6px;
			background: $front-mars-top-nav-txt-color;
			transition: all .35s ease-in-out;
		}
	}
}
