html {
	font-size: 100%;
}

body {
	color: $front-text-color;
	font-family: $front-font-family;
	font-size: 1rem;
}

a {
	background-color: transparent;
	color: $theme-color;
	text-decoration: none;
}

h3 {
	font-size: 1.625rem;
}

h4 {
	font-size: 1.125rem;
}

h5 {
	font-size: 0.875rem;
}

h6 {
	font-size: 0.75rem;
}
